.css-1gqyz35-MuiTypography-root {
  font-family: 'Mulish' !important;
  font-size: 48px !important;
  line-height: 56px !important;
  letter-spacing: 0.015em !important;
  color: var(--blue-orange-7) !important;
}

.css-lf7ukq-MuiTypography-root-MuiLink-root {
  font-family: 'Mulish';
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.015em;
  color: #c9c4c0;
}

.css-1wuw8dw-MuiBreadcrumbs-separator {
  color: #ffffff00;
  background: url(../../../assets/images/arrow.svg) no-repeat;
  width: 32px;
  background-size: 30px;
  background-position: center;
  transform: rotate(180deg);
}
