.subject {
  position: relative;
  overflow: hidden;
  width: 100%;
  &__overview {
    margin-top: 32px;
    width: 100%;
    background: #fff9f4;
    border: 1px solid var(--blue-orange-4);
    box-sizing: border-box;
    border-radius: 16px;
    padding: 24px 25px 64px 64px;
    &-title {
      color: var(--blue-orange-5);
    }
    &-content {
      margin-top: 24px;
      display: flex;
      .menu {
        opacity: 1;
      }
    }
  }
  &__content-item {
    display: flex;
    align-items: center;
  }
  .topic {
    margin-top: 48px;
    &-title {
      color: var(--blue-orange-5);
    }
  }
}
